body {

  display: flex;
  justify-content: center;

}

.App {
  text-align: center;

  width: 250px;
}

.todo {

  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;

}

.completed {

  background-color: black;

}